{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% from 'components/breadcrumb.njk' import breadcrumb %}
{% from 'components/search-strip.njk' import searchStrip %}

{% extends 'layouts/application.njk' %}

{% block content %}
  
  <div class="grid-wrapper">
    <div class="grid-row">
      <div class="column column--reset">
        {{ breadcrumb() }}
      </div>
    </div>

    <div class="grid-row">
      <div class="column column--reset">
        {{ searchStrip() }}
      </div>
    </div>
  </div>

{% endblock %}
